* {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #E9EBEE;
}

header {
    width: 100%;
    height: 40px;
    background-color: #4267B2;
    color: white;
}

.smallCaps {
    font-weight: bold;
    letter-spacing: 1.2;
    text-transform: uppercase;
    font-size: 12px;
}

header h1 {
    display: inline;
    margin: 4px;
}

header h1 a {
    color: white;
}

header a {
    text-decoration: none;
}

header .profile {
    padding-top: 12px;
    color: #FFFFFFCC;
    display: inline-block;
    margin-left: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 960px;
    padding: 0 40px;
}

section,
aside {
    background-color: white;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0;
}

.posts {
    max-width: 600px;
    margin: auto;
}

.body {
    font-size: 14px;
    color: #545454;
    line-height: 1.6;
    margin: 4px 0;
}

.tag {
    background: rgb(180, 180, 180);
    border-radius: 2px;
    width: 40px;
    text-align: center;
    display: inline-block;
    color: white;
    margin-right: 4px;
    text-decoration: none;
    transition: all ease 0.175s;
}

.tag:hover {
    background: rgb(83, 111, 170);
}

.adTitle,
.author {
    font-size: 18px;
    color: #191919;
    font-weight: 600;
}

.sponsor {
    color: #545454;
    margin: 0;
}

aside {
    width: 360px;
    margin-left: 16px;
}

aside img {
    margin-top: 8px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.cover {
    width: 100%;
    height: 300px;
    background-image: url("/cover.png");
    background-size: cover;
    background-position: center;
}

ul {
    list-style: none;
    padding: 0;
    width: 500px;
}

li {
    padding: 6px 0;
}

.profileHeader {
    font-size: 28px;
    padding-left: 8px;
}
